<div>
  <div class="container">
    <div class="col-md-12">
      <div class="row mt-20">
        <div class="col-md-12 text-center">
          <h4 class="head-style">Sign In</h4>
          <p>
            <a class="head-par" href="/signup">Need An Account?</a>
          </p>
        </div>
      </div>
      <div class=" row col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center">
          <form (ngSubmit)="signin()">

            <div>

                <input type="email" class="form-style" [(ngModel)]="user.email" name="email" placeholder="Email">

                <input class="form-style" type="password" [(ngModel)]="user.password" name="Password" placeholder="Password">

                <button class="pull-right my-btn" type="submit">Sign In</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
