.comment{
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px !important;
  border: 1px rgb(108, 108, 110);
  margin: 10px;
  height: 100px;
  width: 100%;
}
.atag{
  cursor: pointer;
  color: rgb(16, 17, 16);
  margin: 5px;
}

.atag:hover{
  color: green;
}

.favBtn{
  border: solid rgb(127, 127, 235);
  color: rgb(52, 52, 160);
}
