
<div class="jumbotron jumbotron-fluid" style="background-color: rgb(138, 126, 241);">
  <div class="container">
    <!-- <h1 class="display-4" style="color: white;font: bold; font-size: 40; font-family: sans-serif;">eBlog</h1> -->
    <p class="lead" style="color: white;">{{article.title}} </p>
    <div>
      <div class="card mb-3 center"  style="height: 70px;">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="/assets/images/smilie.PNG" class="card-img" alt="...">
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <h5 class="card-title">{{article.author.username}} </h5>
              <p class="card-text"><small class="text-muted">{{article.createdAt | date}}</small></p>
            </div>
          </div>
          <button type="button" style="border: solid rgb(127, 127, 235); color: rgb(164, 164, 199);" class="btn btn-blue">
            Favourite Articles ({{article.favoritesCount}})
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="col-md-12">
      <p>{{article.body}} </p>
    </div>
    <div>
      <span *ngFor="let tag of article.tagList" class="badge badge-pill my-tags"> {{tag}} </span>
    </div>
    <hr>
    <div>
      <div class="card mb-3 center"  style="height: 70px;">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="/assets/images/smilie.PNG" class="card-img" alt="...">
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <h5 class="card-title">{{article.author.username}}</h5>
              <p class="card-text"><small class="text-muted">{{article.createdAt | date}}</small></p>
            </div>
          </div>
          <button type="button" class="btn favBtn">
            Favorite Articles ({{article.favoritesCount}})
          </button>
          <button *ngIf="localStorage.getItem('token')" type="button" class="btn favBtn" (click)="favorite(article.slug)">
            Make Favorite
          </button>
          <a *ngIf="localStorage.getItem('username') == article.author.username"
          class="atag" (click)="hide()">Update Article</a>

          <a class="atag" *ngIf="!article.author.following && localStorage.getItem('token')" (click)="follow(article.author.username)">Follow</a>

          <a class="atag" *ngIf="article.author.following && localStorage.getItem('token')" (click)="unfollow(article.author.username)">UnFollow</a>
        </div>
      </div>
    </div> <br><br>
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2" *ngFor="let com of acomments">
        <label for="">{{com.author.username}} - {{com.createdAt | date}}</label>
        <textarea name="comment" class="comment" readonly
         cols="30" rows="10">{{com.body}}</textarea>
         <a *ngIf="localStorage.getItem('username') == com.author.username"
         class="atag" (click)="delete_comment(com.id,com.slug)">Delete</a>
      </div>
    </div>
    <div *ngIf="localStorage.getItem('token')">
      <div class=" row col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center">
          <form (ngSubmit)="send_comment(article.slug)">

            <div>
                <textarea name="body" id="" [(ngModel)]="comment.body" class="form-style" cols="30"
                placeholder="Write Your Comment" rows="10"></textarea>

                <button class="pull-right my-btn" type="submit">Post Comment</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div *ngIf="show">
      <div class=" row col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center">
          <form (ngSubmit)="update()">

            <div>
                <input type="text" class="form-style" name="title" [(ngModel)]="article.title" placeholder="Article Title">

                <input type="text" class="form-style" [(ngModel)]="article.description" name="about" placeholder="What is it about">

                <textarea name="body" id="" [(ngModel)]="article.body" class="form-style" cols="30"
                placeholder="Write Your Article" rows="10"></textarea>

                <ng-multiselect-dropdown
                      [placeholder]="'Select A tag'"
                      [data]="feat_tags"
                      [(ngModel)]="article.tags"
                      [settings]="dropdownSettings"
                      name="sizes"
                      class="form-style"
                    >
                </ng-multiselect-dropdown>

                <button class="pull-right my-btn" type="submit">Publish Update</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
