<div>
  <div class="container">
    <div class="col-md-12">
      <div class="row mt-20">
        <div class="col-md-12 text-center">
          <h4 class="head-style">Your Settings</h4>
        </div>
      </div>
      <div class=" row col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center">
          <form (ngSubmit)="update()">

            <div>
              <input type="text" class="form-style" name="username" [(ngModel)]="profile.username" placeholder="Username">

              <input type="text" class="form-style" name="image" [(ngModel)]="profile.image" placeholder="Profile Picture Url">

              <textarea name="bio" id="" class="form-style"
                [(ngModel)]="profile.bio" cols="30" rows="10">Short Bio About You</textarea>

                <!-- <input type="text" class="form-style" name="" placeholder="Email"> -->

                <!-- <input class="form-style" type="text" name="" placeholder="Password"> -->

                <button class="pull-right my-btn" type="submit">Update Settings</button>
            </div>

          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <button class="logout-btn" (click)="logout()"> <i class="icon-switch"></i> Click here to logout</button>
      </div>
    </div>
  </div>
</div>
