<div class="jumbotron jumbotron-fluid" style="background-color: rgb(138, 126, 241);">
  <div class="container text-center">
    <h1 class="display-4" style="color: white;font: bold; font-size: 40; font-family: sans-serif;">eBlog</h1>
    <p class="lead" style="color: white;">Your Favourite Articles... </p>
  </div>
</div>

<section>
  <div class="container">
    <div class="col-md-12">
        <div class="col-md-9">

          <app-fav-nav></app-fav-nav>

          <div *ngFor="let article of posts | paginate: { itemsPerPage: 5, currentPage: p }">
            <hr style="margin-bottom: 5px;">
            <div class="">
              <div class="col-md-12">
                <div class="col-md-12 row mt-4">
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="media">
                        <img src="../../assets/images/smilie.PNG" class="mr-3 img-border" alt="Smile">
                        <div class="media-body">
                          <h5 class="mt-0 mb-1">{{article.author.username}} <br>
                            {{article.updatedAt | date}}
                          </h5>
                          {{article.description}}
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6" style="padding: 10px;">

                  </div>
                  <div class="col-md-2" style="margin: 10;position: relative;">
                    <span class="badge my-tags pull-right"><i class="icon-heart"></i> {{article.favoritesCount}}</span>
                  </div>
                </div>
                <br>
                <div class="row col-md-12">
                  <div class="col-md-10">
                    <h4> {{article.title}} </h4>
                    <p> {{article.body | slice:0:100}} </p>
                    <a routerLink="/article/{{article.slug}}" style="color: gray;">Read more...</a><br>
                    <a *ngIf="localStorage.getItem('username') == article.author.username"
                      style="cursor:pointer"
                    (click)="delete(article.slug)">
                      <i class="icon-bin"></i> Delete
                    </a>
                  </div>
                  <div class="pull-right">
                    <span *ngFor="let tag of article.tagList" class="badge badge-pill my-tags"> <a href="">{{tag}}</a> </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-12 text-center">
                <ul class="pagination">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div> -->

          </div>

        </div>
        <app-all-tags></app-all-tags>

    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>
