<nav class="colorlib-nav" role="navigation" fixed>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="colorlib-logo"><a href="/">eBlog</a></div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="active"><a routerLink="/" class="nav-styles"><i class="icon-home "></i>Home</a></li>
            <li *ngIf="localStorage.getItem('token')">
              <a routerLink="/create_article" class="nav-styles"> <i class="icon-file "></i> New Article</a>
            </li>
            <li *ngIf="!localStorage.getItem('token')"><a routerLink="/signin" class="nav-styles"><i class="icon-user "></i>Signin</a></li>
            <li *ngIf="!localStorage.getItem('token')"><a routerLink="/signup" class="nav-styles"><i class="icon-user-plus "></i>Sign Up</a></li>
            <li *ngIf="localStorage.getItem('token')"><a routerLink="/settings" class="nav-styles"> <i class="icon-cog"></i> Settings</a></li>
            <!-- <li *ngIf="localStorage.getItem('token')"><a routerLink="" class="nav-styles">Admin</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
