<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" routerLink="/my_posts" style="font-weight: bold; font-size: 28; color: gray;" role="tab">Your Feeds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" style="font-weight: bold; font-size: 28; color: gray;" routerLink="/global_feeds" role="tab">Global Feeds</a>
    </li>
  </ul>
</div>
