<div class="jumbotron jumbotron-fluid" style="background-color: rgb(138, 126, 241);">
  <div class="container text-center">
    <h1 class="display-4" style="color: white;font: bold; font-size: 40; font-family: sans-serif;">eBlog</h1>
    <p class="lead" style="color: white;">This is a modified jumbotron that occupies </p>
  </div>
</div>

<section>
  <div class="container">
    <div class="col-md-12">
        <div class="col-md-9">
          <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" href="" style="font-weight: bold; font-size: 28; color: gray;" role="tab">Your Feeds</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" style="font-weight: bold; font-size: 28; color: gray;" href="" role="tab">Global Feeds</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" style="font-weight: bold; font-size: 28; color: gray;" href="" role="tab">#Virus</a>
              </li>
            </ul>
          </div>

          <div>
            <hr style="margin-bottom: 5px;">
            <div class="">
              <div class="col-md-12">
                <div class="col-md-12 row mt-4">
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="media">
                        <img src="../../assets/images/smilie.PNG" class="mr-3 img-border" alt="Smile">
                        <div class="media-body">
                          <h5 class="mt-0 mb-1">List</h5>
                          Cras sit amet nibh libero
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6" style="padding: 10px;">

                  </div>
                  <div class="col-md-2" style="margin: 10;position: relative;">
                    <span class="badge my-tags pull-right"><i class="icon-heart"></i> 6</span>
                  </div>
                </div>
                <br>
                <div class="row col-md-12">
                  <div class="col-md-10">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nobis quis iste, laudantium id labore
                      est provident voluptates
                    nulla cupiditate, temporibus commodi ipsam earum, optio architecto voluptatum eligendi velit atque?</p>
                    <a href="" style="color: gray;">Read more...</a>
                  </div>
                  <div class="pull-right">
                    <span class="badge badge-pill my-tags">Covid-19</span>
                    <span class="badge badge-pill my-tags">Virus</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <hr style="margin-bottom: 5px;">
            <div class="">
              <div class="col-md-12">
                <div class="col-md-12 row mt-4">
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="media">
                        <img src="../../assets/images/smilie.PNG" class="mr-3 img-border" alt="Smile">
                        <div class="media-body">
                          <h5 class="mt-0 mb-1">List</h5>
                          Cras sit amet nibh libero
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6" style="padding: 10px;">

                  </div>
                  <div class="col-md-2" style="margin: 10;position: relative;">
                    <span class="badge my-tags pull-right"><i class="icon-heart"></i> 6</span>
                  </div>
                </div>
                <br>
                <div class="row col-md-12">
                  <div class="col-md-10">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nobis quis iste, laudantium id labore
                      est provident voluptates
                    nulla cupiditate, temporibus commodi ipsam earum, optio architecto voluptatum eligendi velit atque?</p>
                    <a href="" style="color: gray;">Read more...</a>
                  </div>
                  <div class="pull-right">
                    <span class="badge badge-pill my-tags">Covid-19</span>
                    <span class="badge badge-pill my-tags">Virus</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3" style="background-color: rgb(236, 238, 248); padding-bottom: 5px;">
          <h4>Popular Tags</h4>
          <span class="badge badge-pill my-tags">News</span>
          <span class="badge badge-pill my-tags">Health</span>
          <span class="badge badge-pill my-tags">Pandemic</span>
          <span class="badge badge-pill my-tags">Global</span>
          <span class="badge badge-pill my-tags">Covid-19</span>
          <span class="badge badge-pill my-tags">Virus</span>
        </div>
    </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
  </div>
</section>
