<div>
  <div class="container">
    <div class="col-md-12">
      <div class="row mt-20">
        <div class="col-md-12 text-center">
          <h4 class="head-style">Sign Up</h4>
          <p>
            <a class="head-par" href="/signin">Have an Account?</a>
          </p>
        </div>
      </div>
      <div class=" row col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center">
          <form (ngSubmit)="signup()">

            <div>
                <input type="text" class="form-style" [(ngModel)]="user.username" name="username" placeholder="Username">

                <input type="email" class="form-style" [(ngModel)]="user.email" name="email" placeholder="Email">

                <input class="form-style" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">

                <input class="pull-right my-btn" type="submit" value="Sign Up">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
