<div>
  <div class="container">
    <div class="col-md-12">
      <div class="row mt-20">
        <div class="col-md-12 text-center">
          <h4 class="head-style"></h4>
        </div>
      </div>
      <div class=" row col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center">
          <form (ngSubmit)="create_post()">

            <div>
                <input type="text" class="form-style" name="title" [(ngModel)]="post.title" placeholder="Article Title">

                <input type="text" class="form-style" [(ngModel)]="post.about" name="about" placeholder="What is it about">

                <textarea name="body" id="" [(ngModel)]="post.body" class="form-style" cols="30"
                placeholder="Write Your Article" rows="10"></textarea>

                <!-- <div *ngFor="let tag of post.tags; let i = index ; trackBy:trackByFn">
                  <input type="text" class="form-style" [(ngModel)]="post.tags[i].tag" name="tag" placeholder="Enter Tag">
                  <a class="atag" (click)="addTag()">+ add tag</a><br>
                  <a class="atag" (click)="deleteTag(i)">- remove tag</a>
                </div> -->
                <!-- <select class="form-style" name="tag" id="" [(ngModel)]="post.tags">
                  <option value=""> Select A tag </option>
                  <option *ngFor="let t of feat_tags" value="{{t}}"> {{t}} </option>
                </select> -->
                <input type="text" class="form-style" [(ngModel)]="post.tags" name="tag"
                 placeholder="Enter Tag or select from options below">

                <ng-multiselect-dropdown
                      [placeholder]="'Select A tag'"
                      [data]="feat_tags"
                      [(ngModel)]="post.tags"
                      [settings]="dropdownSettings"
                      name="sizes"
                      class="form-style"
                    >
                </ng-multiselect-dropdown>

                <button class="pull-right my-btn" type="submit">Publish Article</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
