<div class="col-md-3" style="background-color: rgb(236, 238, 248); padding-bottom: 5px;">
  <h4>Popular Tags</h4>
  <span *ngFor="let tag of all_tags" class="badge badge-pill my-tags"> {{tag}} </span>
</div>
