<div>
  <footer style="height: 50px;background-color: rgb(236, 238, 248);" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="margin-top: 20;">
            <span style="font-weight: bold;font-size: 60;color: rgb(138, 126, 241);">eBlog</span> &copy;2020. UI Design By Encentral Solution | powered by |Me|
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
